<%- include('partials/header') -%>
    <div class="max-w-screen-lg mx-auto pt-20">

      
         <img class="p-14 bg-fontLight" src="<%= post.image%>" />
          <h2 class="font-Playfair-Display text-5xl pt-6"><%= post.title %></h2>
          <h2 class="italic text-1xl border-2"><%= post.caption %></h2>
        

          <p class="text-2xl pt-12"> Add Caption</p>
            <!-- <form  action="/post/editPost" method="PUT"> -->
              <!-- Changed this form action to include the post id, lets us use it in the controller as req.params.id.
              Since we're using methodOverride, set the method with ?_method=PUT. See the like/delete forms below as an example. -->
              <form action="/post/editPost/<%=post.id%>?_method=PUT" method="POST">

                 <div class="flex flex-col mx-auto	">

                 <label  for="title" class="form-label my-2">Title Your Image</label>
                <!-- changed name and id to 'title' - this gets passed to the controller as req.body.title -->
                <textarea type="text" class="form-control bg-gray-300 rounded-lg	mt-2.5 bg-fontLight h-10"
                id="title" 
                name="title"></textarea>


                 <label for="caption" class="form-label   my-2"> Describe why you choose this image for your vision board.</label>
                 <!-- changed name and id to 'caption' - this gets passed to the controller as req.body.caption -->
                 <textarea type="text" class="form-control bg-gray-300 rounded-lg	mt-2.5 h-20 bg-fontLight" 
                 id="caption" 
                 name="caption"> </textarea>

                 <input type="hidden" name="id" value="<%=post.id%>">

            </form>
    <div class="flex flex-wrap my-6">

      <button type="submit" class="border-2	border-black py-2 px-8 rounded-md  "value="Upload" >Submit</button>

               <%if(post.user == user.id){ %>
               <form
                    action="/post/deletePost/<%= post.id %>?_method=DELETE"
                    method="POST"
                    class="#"
               >



               <button class="border-2 border-black py-2 px-8 rounded-md mx-2"type="submit">Delete Vision Board Item</button>
          </div>
                </form>
        <%}%>
      </div>
    </div>
    <!-- <div class="col-3 mt-5">
    </div>
    <div class="col-6 mt-5">
      <a class="border-2	border-black py-2 px-8 rounded-md " href="/profile">Return to Profile</a>
      <a class="border-2	border-black py-2 px-8 rounded-md " href="/feed">Return to Feed</a>
    </div>
  </div>
</div> -->

<%- include('partials/footer') -%>