<%- include('partials/header') -%>
<div class="">
  <div class="">
      <div class="">
      <div class="max-w-screen-lg mx-auto bg-main">
          <div class="p-6  mx-auto bg-main flex-col	 space-x-4">
          <div class ="flex flex-col p-6  justify-start">
          <h2 class="text-4xl font-corm font-light  text-center border-b-2 border-black ">Express Daily Gratitude</h2>
          <div class="p-6 mx-auto flex-col space-x-4	">
          <h4 class ="text-center m-auto w-9/12 font-raleway	" >A regular act of expressing gratitude can put focus on those things in our life that we care about most. The more we focus and appreciate them; the more we will put energy into cultivating what makes us happy and feel good. </h4>
         
      
            <form  action="/gratitude/createGratitude" method="POST">
                 <div class="flex flex-col  w-10/12 mx-auto	">
                 <label  for="gratitudeItem1" class="form-label text-center text-3xl font-corm font-light  my-6 m-auto border-b-2 border-black ">Log Gratitude</label>
                 <label for="gratitudeItem1" class="form-label font-raleway text-center">Log up to five things you are grateful for. </label>
                
                 <textarea type="text" class="form-control font-raleway  mt-2.5	h-32 bg-fontLight border-2 border-black" id="item" name="item"maxlength="400" required> </textarea>
 
                 <label for="gratitudeItem2" class="form-label"></label>
                 <textarea type="text" class="form-control  mt-2.5	h-32 bg-fontLight border-2 border-black" id="item" name="item" maxlength="400" required> </textarea>

                 <label for="gratitudeItem3" class="form-label"></label>
                 <textarea type="text" class="form-control  mt-2.5	h-32 bg-fontLight border-2 border-black" id="item" name="item" maxlength="400" required> </textarea>
                  
                 <label for="gratitudeItem4" class="form-label"></label>
                 <textarea type="text" class="form-control  mt-2.5	h-32 bg-fontLight border-2 border-black"" id="item" name="item" maxlength="400" required></textarea>
                 
                 <label for="gratitudeItem5" class="form-label"></label>
                 <textarea type="text" class="form-control  mt-2.5	h-32 bg-fontLight border-2 border-black"" id="item" name="item" maxlength="400" required></textarea>
              
     
            <button type="submit" class="border-2	border-black py-2 px-8 rounded-md my-4"value="Upload" >Submit</button>
            </form>
     </div>


<%if (gratitudeLog.length>0) { %>
            <ul>
                <% for(let i=0; i< gratitudeLog.length; i++) { %>
                  <li class ='postItem' data-id="<%gratitudeLog[i]._id%>">
                  <div class="title text-center text-xl font-serif my-6	"> 
              <h4> <%= `${gratitudeLog[i].date.getMonth()}/
                        ${gratitudeLog[i].date.getDate()} / 
                        ${gratitudeLog[i].date.getFullYear()}`%> </h4> </div>
                  <div class="title text-center font-ralway"> <h4> <%= gratitudeLog[i].gratitudeItem1[0]%> </h4> </div>
                  <div class="title text-center font-ralway"> <h4> <%= gratitudeLog[i].gratitudeItem1[1]%> </h4> </div>
                  <div class="title text-center font-ralway"> <h4> <%= gratitudeLog[i].gratitudeItem1[2]%> </h4> </div>
                  <div class="title text-center font-ralway"> <h4> <%= gratitudeLog[i].gratitudeItem1[3]%> </h4> </div>
                  <div class="title text-center font-ralway"> <h4> <%= gratitudeLog[i].gratitudeItem1[4]%> </h4> </div>
                  <!-- <div class="date" Posted on <%= new Date(gratitudeLog[i].date).toLocaleDateString('en-us') %> -->
                  <div id = "actionsContainer"></div>
            </li>
<!-- Delete Button -->
              <form
                action="/gratitude/deleteGratitude/<%= gratitudeLog[i].id %>?_method=DELETE"
                method="POST"
                class="#"
              >
              <div class="flex justify-center" >
                <button class="border-2	border-black py-2 px-8 rounded-md mt-4" type="submit">Delete Entry</button>
              </div>
              </form>
        <%} %> 

         </div>
          </div>
              <%if(gratitudeLog){ %>
        <form
          action="/post/deleteGratitude/<%= gratitudeLog.id %>?_method=DELETE"
          method="POST"
          class="#"
        >
      <!-- <div class="flex justify-center" >
          <button class="my-6	 py-2 px-4 bg-gray-600 text-white font-semibold rounded-lg shadow-md hover:bg-neutral-300	focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" type="submit">Delete Vision Board Item</button>
  </div> -->
        </form>
        <%}%>
        <%} %> 

    </div>
          </div>
          <!-- <a class="btn btn-primary" href="/profile">Return Home</a> -->
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
