<%- include('partials/header') -%>
<div class="primary ">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <h2>Welcome, <%= user.userName %></h2>
              <!-- <p><strong>Email</strong>: <%= user.email %></p> -->
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>

          <ul>
            <a class="btn btn-primary" href="/gratitude">Gratitude</a>
            <li><a> Gratitude</a></li>
            <li><a> Gratitude</a></li>
            <li><a> Gratitude</a></li>
            <li><a> Gratitude</a></li>
               </ul>
    



          <div class="mt-5">
            <h2>Express Daily Gratitude</h2>
            <h4>A regular act of expressing gratitude can put focus on those things in our life that we care about most. The more we focus and appreciate them; the more we will put energy into cultivating what makes us happy and feel good. </h4>


            <form action="/post/createGratitude" method="POST">
                 <div class="mb-3">
                 <label for="gratitudeItem1" class="form-label">Submit Gratitude</label>
                 <input type="text" class="form-control" id="item" name="item">

                 <label for="gratitudeItem2" class="form-label"></label>
                 <input type="text" class="form-control" id="item" name="item">

                 <label for="gratitudeItem3" class="form-label"></label>
                 <input type="text" class="form-control" id="item" name="item">
                 
                 <label for="gratitudeItem4" class="form-label"></label>
                 <input type="text" class="form-control" id="item" name="item">
                 
                 <label for="gratitudeItem5" class="form-label"></label>
                 <input type="text" class="form-control" id="item" name="item">
              
            </div>

            <button type="submit" class="btn btn-primary" value="Upload" >Submit</button>
            </form>

       

            <ul>
                <% for(let i=0; i< gratitudeLog.length; i++) { %>
                  <li class ='postItem' data-id="<%gratitudeLog[i]._id%>">
                  <div class="title"> <h4> <%= gratitudeLog[i].gratitudeItem1.join(', ') %> </h4> </div>
                  <div class="date" Posted on <%= new Date(gratitudeLog[i].date).toLocaleDateString('en-us') %>
                  <div id = "actionsContainer"></div>
             </div>
            </li>
        <%} %>



          <a class="btn btn-primary" href="/profile">Return Home</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>

