<%- include('partials/header') -%>

<div class="#">
  <div class="#">
      <div class="#"">
      <div class="p-6 w-11/12	 mx-auto bg-white rounded-xl shadow-lg flex-col	 space-x-4">
          <h2 class="text-5xl font-serif py-2	" >Welcome, <%= user.userName %></h2>


<!-- Vision Board Display --> 
    <% const randomNumber = Math.floor(Math.random() * posts.length) %>
    <% if(posts.length<1 ){ %>
    <a href="#">
        <img class="#" src="https://i.ibb.co/71NFW0j/1db694a2afa9ca53c3d75e7589a227ea.jpg"     >
     </a>
    <% } else{ %>  
     <a href="/post/<%= posts[randomNumber]._id%>">
              <img class="w-2/4	" src="<%= posts[randomNumber].image%>">
            </a>
    <% } %>
<!-- Vision Board Display End --> 


    <% if(gratitudeLog.length<1 ){ %>
      <a href="#">
      </a>
    <% } else{ %>  
      <h5> I was grateful for...</h5>
      <h5> <%= gratitudeLog[1].gratitudeItem1[0]%> </h5>
      <h6> On... <%= gratitudeLog[1].date%> </h6>
    <% } %>


<!-- Graitutde Item Display -->






<!-- Gratitude Item Display















        <!-- <% for(let i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="w-60 p-2" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>



        </ul>
        <div class="row justify-content-center mt-5"> -->

          <!-- <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  

      </div>  
    </div>
  </div>-->


           <a href="/logout" class="my-6	 py-2 px-4 bg-gray-600 text-white font-semibold rounded-lg shadow-md hover:bg-neutral-300	focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">Logout</a> 

</div>
</div>
</div> 

<%- include('partials/footer') -%>
