<%- include('partials/header') -%>
<div class="#">
  <div class="#">
    <div class="max-w-screen-lg mx-auto">
      <div
        class="p-6 w-11/12 mx-auto bg-main rounded-xl flex-col space-x-4 max-w-screen-lg"
      >
        <% if(posts.length==0) {%>
          <h2 class="text-5xl font-serif py-2 text-center">
          Welcome, <%= user.userName %>
           </h2>
        <% } %>

        <% const randomNumber = Math.floor(Math.random()*posts.length) %>
        <%if(posts.length==0){ %>
          <div class="flex flex-col">
            <img class="" src="https://i.ibb.co/71NFW0j/1db694a2afa9ca53c3d75e7589a227ea.jpg"/>
            <div class=" 	">
              <!-- <h6 class=""> Hi <%= user.userName %>, Welcome to Lucent.</h6> -->
            <h5 class="text-center">
                Lucent is a a place you come to store your thoughts and feelings.
                We invite you to use this platform to journal, express gratitude
                and work towards your goals by creating vision boards and reciting
                affirmations. Get started below by showing some gratitude or
                logging your first vision board item.
            </h5>
              <div class="text-center mt-5">
              <a href="/gratitude" class="my-6 py-2 px-4 bg-gray-600 text-white font-semibold rounded-lg shadow-md hover:bg-neutral-300 focus:outline focus:ring-opacity-75"
                  >Gratitude</a>
                <a
                  href="/visionBoard"
                  class="my-6 py-2 px-4 bg-gray-600 text-white font-semibold rounded-lg shadow-md hover:bg-neutral-300 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                  >Vision Board</a>
              </div>
            </div>
          <% } else{ %>
<!-- Random Photo from vision board -->
          <div class="flex flex-wrap justify-center">
            <a href="post/addDescription/<%= posts[randomNumber]._id%>">
              <img
                class="max-h-50  object-cover p-16 border-2 border-black"
                src="<%= posts[randomNumber].image%>"
              />
            </a>
            <% } %>
           </div>
          </div>
         </div>
<!-- Random Photo  -->

  <!-- Suggested excercises -->
<div class="h-36 border-t-2 border-black flex	">
  <h3 class="font-corm flex items-center justify-center m-auto text-5xl " >Suggested Journal Prompts </h3>
</div>
  <div class="w-1/2-"></div><div class="h-16 border-r-2 border-black w-1/2"></div></div>
     <div class= "flex flex-wrap justify-center border-2	border-black"> 
        <div class="border-2 border-black max-w-xs	w-65 p-8 bg-grey m-2	">
                      <a href="/workshop/getWorkshopOne">

          <h4 class="text-4xl font-corm border-b-2 border-black"> Basic affirmations </h5>
          <h5 class="font-raleway pt-6"> A good daily practice to manifest what you want. </h5></a>
          </div>
          

          <div class="border-2 border-black max-w-xs	w-65 p-8 bg-grey m-2">
          <h4 class="text-4xl font-corm border-b-2 border-black"> Letter to the Universe </h5>
          <h5 class="font-raleway pt-6">Like a letter to santa, but grownup.</h5>
          </div>

          <div class="border-2 border-black max-w-xs	w-65 p-8 bg-grey m-2	">
          <h4 class="text-4xl font-corm border-b-2 border-black">Identify Your Stressors </h5>
         <h5 class="font-raleway pt-6"> Your first step to a stress free environment </h5>
          </div> 
  
          <div class="border-2 border-black max-w-xs	w-65 p-8 bg-grey m-2		">
          <h4 class="text-4xl font-corm border-b-2 border-black">Challenge Your Comfort Zone </h5>
          <h5 class="font-raleway pt-6"> This is how we grow.  </h5>
          </div>
  </div>
  <!-- Suggested excercises -->




<!-- If Gratitude  -->
<div class="border-t-1 border-black flex justify-center inline-block align-middle	 "> 
    <div class="w-1/2  border-r-2 border-black  flex-col max-w-lg ">
       <% if(!hasGratitude) {%>
            <h2 class="text-4xl font-corm border-black "> You haven't expressed gratitude yet today!</h2>
            <div class="mt-3 mx-auto flex-col space-x-4 ">
            <a
            href="/gratitude"
            class="border-2	border-black py-2 px-8 rounded-md "
            >Log Now</a>
            </div>
        <% } else {%>
          <div class="p-8">
            <h3 class="text-4xl font-corm pt-6"> Your Logged Gratitude:  </h3>
            <h4 class="text-2xl font-corm pb-4"> Here is what you were grateful for today: </h3>
            <ul class="">
              <% for(let i=0; i<5; i++) {%>
                  <li><h4 class="font-raleway mt-1"~><%= lastEntry.gratitudeItem1[i] %> </h4></li>
              <% } %>
      
            </ul>
          </div>
        <% } %>
    </div>
    <div class="w-1/2 h-96 border-black flex items-center justify-center flex-col  max-w-lg ">
   </div>
</div>
</div>
</div>
</div>

<!-- weekly progress track  -->

<h3 class="text-3xl font-corm flex justify-center border-b-2 border-t-2 border-black"> Weekly Progress </h3>
<div class=" h-96	mt-6 border-t-1 border-black">
  <div class="lg:flex flex-row justify-center ">
    <% for(let i=0; i<sevenPreviousDays.length;i++){ %> 
      <%if(totalActivityLog[i]){ %>
      <a href="post/getSummary/<%=isoFormattedDates[i]%>">
      <div class="flex flex-col items-center" > 
      <h3 class=""> <%= sevenPreviousDays[i] %> </h3> 
      <div class="rounded-full h-32 w-32 border-2 border-black bg-grey m-4" src=""></div>
      </div>
      
      </a>

      <% } else{ %>
      <a href="">  
      <div class="flex flex-col items-center"  > 
      <h3> <%= sevenPreviousDays[i] %> </h3> 
      <div class="rounded-full h-32 w-32 border-2 border-black m-4 " src=""></div>
      </div>
      </a>
      <% } -%>
    <% } -%>
  </div>
</div>






<!--Progress Track End  -->

          <a
            href="/logout"
            class="border-2	border-black py-2 px-8 rounded-md "
            >Logout</a
          >
        </div> 
      </div>
    </div>
  </div>
</div>
    
  <%- include('partials/footer') -%>