<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />



    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300;500;700&family=Raleway:wght@100;200;300;400;600;700;900&display=swap" rel="stylesheet">


    <title>Lucent</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body class="bg-main pb-4">
    <header class="">
      <div class="#">
        <h1 class="font-corm text-9xl	text-fontLight py-0 pb-0 text-center pt-0 text-primary mb-0		"><a href="/profile">LUCENT</a></h1>
        <html data-theme=""></html>
          <ul class="flex flex-wrap justify-center 	border-b-2	border-black font-raleway text-xl" >
          <a class="px-1" href="/profile">Home •</a>
          <a class="px-1" href="/gratitude">Gratitude •</a>
          <!-- <a class="px-1" href="/moodBoard">Track Mood •</a> -->
          <a class="px-1" href="/visionBoard">Vision Board •</a>
          <!-- <a class="px-1" href="/affirmations">Affirmations •</a> -->
          <a class="px-1" href="/workshop">Excercises  </a>
          <% let dateTest= new Date() %>
          <% let isoFormattedToday= new Date(dateTest).toISOString().split("T")[0] %>
          </ul>
      </div>
    </header>

<h2 class="font-corm  justify-center m-auto text-5xl p-6 border-b-2 border-black flex font-light"  >Your Journal Entry from <%=date%></h2>


<!-- Section one  -->
<div class="flex flex-row m-2 justify-center mt-6 pb-6 border-b-2 border-black"">
<!-- posts displays -->
<div class="flex flex-col justify-center sm:flex-row m-12">
<% if(posts.length>0) { %>
  <% for(let i=0; i<3; i++) {%>

    <img
    class="p-4 mb-6  bg-white sm:max-h-50 sm:w-1/3 sm:object-cover  sm:m-2  "
    src="<%= posts[i].image%>"
    />

  <%} %> 
<%} %> 
</div>
</div>

<!-- posts display end -->

<!-- Manifestation Logs of the day  -->

  <%if(manifestation.length>0) {%>

  <div class="flex items-center p-16">
  <% for(let i=0; i<1; i++) {%>

      <div class="title text-left  font-raleway my-6 "> 
          <div class="title font-corm text-3xl "> <h4> Today I manifested...  </h4> </div>
          <div class="title pb-2"> <h4><%= manifestation[i].whatToManifest%> </h4> </div>
          <div class="title pb-2"> <h4><%= manifestation[i].manifestationObstacles%> </h4> </div>
          <div class="title pb-2"> <h4><%= manifestation[i].manifestationAction%> </h4> </div>
      </div>

  <%} %> 
  <%} %> 

</div>
</div>

<!-- Section one end -->

<!-- Gratitude Display  -->
<h2 class="font-corm  justify-center m-auto text-4xl p-6 border-b-2 border-black flex font-light" > On this day I was grateful for... </h2>
<ul>
    <% for(let i=0; i< gratitudeLog.length; i++) { %>
      <li class ='postItem italic mt-8 w-10/12 mx-auto list-none' data-id="<%gratitudeLog[i]._id%>">
      <div class="title text-center font-raleway pb-2"> <h4> <%= gratitudeLog[i].gratitudeItem1[0]%> </h4> </div>
      <div class="title text-center font-raleway pb-2"> <h4> <%= gratitudeLog[i].gratitudeItem1[1]%> </h4> </div>
      <div class="title text-center font-raleway pb-2"> <h4> <%= gratitudeLog[i].gratitudeItem1[2]%> </h4> </div>
      <div class="title text-center font-raleway pb-2"> <h4> <%= gratitudeLog[i].gratitudeItem1[3]%> </h4> </div>
      <div class="title text-center font-raleway pb-2"> <h4> <%= gratitudeLog[i].gratitudeItem1[4]%> </h4> </div>
      </li>
      <div id = "actionsContainer"></div>
</ul>

<%} %> 

  <%if(gratitudeLog){ %>
<form
action="/post/deleteGratitude/<%= gratitudeLog.id %>?_method=DELETE"
method="POST"
class="#"
>

</form>
<%}%>

</div>

<!-- Letter to the universe of the day  -->

<% if(letterLog.length>1){%>
<h2 class="font-corm  text-center justify-center m-auto text-4xl p-6 mt-12 border-b-2 border-black flex font-light border-t-2" > On this day you asked the universe for what you wanted: </h2>

<% for(let i=0; i<1; i++) {%>
    <li class='postItem italic mt-8 w-10/12 mx-auto list-none' >
    <div class=""> 
    <div class="title text-center font-raleway pb-2"> <h4><%= letterLog[i].letterToTheUniverse%> </h4> </div>
    </div>
      </li>
      <%} %> 
    <%} %> 
<!-- Rejection into redirection of the day  -->

<% if(rejectionLog.length>0){%>

<% for(let i=0; i<1; i++) {%>
<h2 class="font-corm  text-center justify-center m-auto text-4xl p-6 mt-12 border-b-2 border-black flex font-light border-t-2" >On this day you turned rejection into redirection. </h2>

    <li class="list-none">
    <div class="title text-center  font-serif my-6	italic"> 
<div class="title text-center font-raleway pb-2"> <h4><%= rejectionLog[i].redirection%> </h4> </div>
<div class="title text-center font-raleway pb-2"> <h4><%= rejectionLog[i].whatYouLearned%> </h4> </div>
<div class="title text-center font-raleway pb-2"> <h4><%= rejectionLog[i].reDirection%> </h4> </div>

      </div>
      </li>
<%} %> 

<%} %> 

<% if(comfort.length>0){%>

<% for(let i=0; i<1; i++) {%>
<h2 class="font-corm  text-center justify-center m-auto text-4xl p-6 mt-12 border-b-2 border-black flex font-light border-t-2" >On this day I made a promise to step outside my comfort zone. </h2>

    <li class="list-none">
    <div class="title text-center  font-serif my-6	italic"> 
<div class="title text-center font-raleway pb-2"> <h4><%= comfort[i].thingsYouWantToChallenge%> </h4> </div>
<div class="title text-center font-raleway pb-2"> <h4><%= comfort[i].stepsToGetThere%> </h4> </div>
<div class="title text-center font-raleway pb-2"> <h4><%= comfort[i].whatWouldHappenIf%> </h4> </div>

      </div>
      </li>
<%} %> 

<%} %> 

<% if(stress.length>0){%>

<% for(let i=0; i<1; i++) {%>
<h2 class="font-corm  text-center justify-center m-auto text-4xl p-6 mt-12 border-b-2 border-black flex font-light border-t-2" >On this day, I made a commitment to reduce the stress in my life.</h2>

    <li class="list-none">
    <div class="title text-center  font-serif my-6	italic"> 
<div class="title text-center font-raleway pb-2"> <h4><%= stress[i].yourStressors%> </h4> </div>
<div class="title text-center font-raleway pb-2"> <h4><%= stress[i].waysToChange%> </h4> </div>
<div class="title text-center font-raleway pb-2"> <h4><%= stress[i].thingstoMakeEasier%> </h4> </div>

      </div>
      </li>
<%} %> 
<%} %> 

<% if(forgive.length>0){%>

<% for(let i=0; i<1; i++) {%>
<h2 class="font-corm  text-center justify-center m-auto text-4xl p-6 mt-12 border-b-2 border-black flex font-light border-t-2" >On this day, I chose to forgive. </h2>

    <li class="list-none">
    <div class="title text-center  font-serif my-6	italic"> 
<div class="title text-center font-raleway pb-2"> <h4><%= forgive[i].personToForgive%> </h4> </div>
<div class="title text-center font-raleway pb-2"> <h4><%= forgive[i].howTheyMadeYouFeel%> </h4> </div>
<div class="title text-center font-raleway pb-2"> <h4><%= forgive[i].howTheyWereFeeling%> </h4> </div>
<div class="title text-center font-raleway pb-2"> <h4><%= forgive[i].stepsToForgivness%> </h4> </div>

      </div>
      </li>
<%} %> 

<%} %> 





    </body>
</html>