<%- include('partials/header') -%>

<div class="#">
  <div class="#">
      <div class="#">
          <div>
              <h2>Welcome, <%= user.userName %></h2>
              <!-- <p><strong>Email</strong>: <%= user.email %></p> -->
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>



          <div class="p-6 w-11/12	 mx-auto bg-white rounded-xl shadow-lg flex-col	 space-x-4">
            <h4>Create Your Vision Board</h4>
            <h4>A vision board is a visual representation of your goals. Everytime you login you will see a spread of images representing what you are working towards. A simple reminder can help motivate and encourage; helping you get there faster. </h4>





            <form action="/post/createVisionBoard" enctype="multipart/form-data" method="POST">
              <!-- <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div> -->
              <div class="#">
                <label for="imgUpload" class="form-label"></label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="" value="Upload">Submit</button>
            </form>
      <div class="#">
        <ul class="flex flex-wrap justify-center ">
        <% for(let i=0; i<visionBoardItems.length; i++) {%>
            <li class ='postItem' data-id="<%visionBoardItems[i]._id%>">
            <a href="/post/<%= visionBoardItems[i]._id%>">
              <img class="w-60 p-2" src="<%= visionBoardItems[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
</div>
</div>

<%- include('partials/footer') -%>
