<%- include('partials/header') -%>
<div class="flex-wrap">


  <div class="flex flex-col	 p-6 flex justify-start ">
       <div class="p-6 w-9/12 mx-auto flex-col space-x-4 max-w-screen-md	">
            <h5 class="text-center">The word "Manifestation" means to create something or turn something from an idea into a reality. Your thoughts, feelings, beliefs and wishes bring something into your life. A simple practice of daily manifestation can bring focus into the present and guide your day in a direction that will help you reach your goals.</h5>
      </div>
</div>


<!-- Main Page Content -->

<div class=" max-w-screen-md mx-auto ">

<!-- Form -->
<div class="w-fit	">
            <form  action="/workshop/createManifestation" method="POST">
                 <div class="flex flex-col  mx-auto ">

                 <label for="whatToManifest" class="form-label text-1xl font-serif">What you want to manifest.</label>
                
                 <textarea type="text" class="form-control bg-fontLight rounded-lg mt-2.5 h-52 mb-10 w-100	 "  id="whatToManifest" name="whatToManifest"></textarea>

                 <label for="manifestationObstacles" class="form-label text-1xl font-serif">
                Obstacles to the manifestation </label>

                 <textarea type="text" class="form-control bg-fontLight rounded-lg mt-2.5 h-52 mb-10" id="manifestationObstacles" name="manifestationObstacles"></textarea>

                 <label for="manifestationAction" class="form-label text-1xl font-serif">Actions you will take to get there</label>
                 <textarea type="text" class="form-control bg-fontLight rounded-lg mt-2.5 h-52 mb-10" id="manifestationAction" name="manifestationAction"></textarea>
                        

                <button type="submit" href= "loc"class="border-2	border-black py-1 px-8 rounded-md " value="Upload" >Log Manifestation</button>
               </form>        
                </div>
</div>
<!-- End Form -->


<!-- Image -->



<!-- image stop -->

</div>



<!-- Previous  Manifestation -->

        <% for(let i=0; i<manifestation.length; i++) {%>
                  <li>
                  <div class="title text-center  text-center text-xl font-serif text-center my-6	"> 
     <div class="title text-center"> <h4> My Manifestation </h4> </div>
     <div class="title text-center"> <h4><%= manifestation[i].whatToManifest%> </h4> </div>
     <div class="title text-center"> <h4><%= manifestation[i].manifestationObstacles%> </h4> </div>
     <div class="title text-center"> <h4><%= manifestation[i].manifestationAction%> </h4> </div>
                    </div>
                    </li>
        <%} %> 



<%- include('partials/footer') -%>

 