<%- include('partials/header') -%>
<div class="p-6 w-11/12 mx-auto bg-main rounded-xl flex-col max-w-screen-lg">
     <div class="flex flex-col p-6 justify-start">
       <h4 class="text-5xl font-corm  font-light text-center border-b-2 border-black">Affirmation Workshops</h4>
       <div class="p-6 w-9/12 mx-auto flex-col space-x-4 ">
          <h5 class="text-center font-raleway font-semibold">Here you will find a variety of different affirmation excercises and journaling prompts. These will help you to focus into your goals and what you want to pull out of your life. </h5>
      </div>


<!-- Excercises Start -->


<div class=""> 

          <div class="border-2 border-black py-2 px-8 rounded-md my-2 flex justify-between ">

               <div>
               <a href="/workshop/getWorkshopOne"><h5 class="text-3xl  font-corm">Simple Affirmation </h5> </a>
               <p class="font-raleway font-semibold"> A simple three question affirmation. </p>
               </div>
               <div class="py-2">
               <h6 class="text-right italic font-raleway font-semibold "> Completed </h6>
               <p class="text-right italic font-raleway font-semibold "> <%-manifesationLog.length %> times </p>
               </div>

          </div> 

          <div class="border-2 border-black py-2 px-8 rounded-md my-2 flex justify-between ">

               <div>
               <a href="/workshop/getLetterToTheUniverse"><h5 class="text-3xl  font-corm">Write a letter to the universe </h5> </a>
               <p class="font-raleway font-semibold"> Ask the universe for what you'd like. </p>
               </div> 
               <div class="py-2">
               <h6 class="text-right italic font-semibold "> Completed </h6>
               <p class="text-right italic font-semibold"> <%-letterLog.length %> times </p>
               </div>

          </div>

     <div class="border-2 border-black py-2 px-8 rounded-md my-2 flex justify-between ">

               <div>
               <a href="/workshop/getRedirection"><h5 class="text-3xl  font-corm">Rejection to Redirection </h5> </a>
               <p class="font-raleway font-semibold"> Turn the bad into the good.</p>
               </div>
               <div class="py-2">
               <h6 class="text-right italic font-semibold "> Completed </h6>
               <p class="text-right italic font-semibold"> <%-rejectionLog.length %> times </p>
               </div>

          </div>

     <div class="border-2 border-black py-2 px-8 rounded-md my-2 flex justify-between ">

               <div>
               <a href="/workshop/getComfortZone"><h5 class="text-3xl  font-corm">Challenge Your ComfortZone </h5> </a>
               <p class="font-raleway font-semibold"> To grow we have to get out of our comfort zone. </p>
               </div>
               <div class="py-2">
               <h6 class="text-right italic font-semibold "> Completed </h6>
               <p class="text-right italic font-semibold"> <%-comfortZoneLog.length %> times </p>
               </div>

          </div>

     <div class="border-2 border-black py-2 px-8 rounded-md my-2 flex justify-between ">

               <div>
               <a href="/workshop/getStress"><h5 class="text-3xl  font-corm">De-Stress </h5> </a>
               <p class="font-raleway font-semibold"> Identify your stressors and eliminate them. </p>
               </div>
               <div class="py-2">
               <h6 class="text-right italic font-semibold "> Completed </h6>
               <p class="text-right italic font-semibold"> <%-stressLog.length %> times </p>
               </div>
               </div>
          </div>


     <div class="border-2 border-black py-2 px-8 rounded-md my-2 flex justify-between " >

               <div>
               <a href="/workshop/getForgiveness"><h5 class="text-3xl  font-corm">Forgive </h5> </a>
               <p class="font-raleway font-semibold"> Use this excercise to let go. </p>
               </div>
               <div class="py-2">
               <h6 class="text-right italic font-semibold  "> Completed </h6>
               <p class="text-right italic font-semibold"> <%-forgivenessLog.length %> times </p>
               </div>
               </div>
          </div>





</div>


</div>





<%- include('partials/footer') -%>
