<%- include('partials/header') -%>
<div class="flex-wrap">


  <div class="flex flex-col	 p-6 flex justify-start ">
       <div class="p-6 w-9/12 mx-auto flex-col space-x-4 max-w-screen-md	">
            <h5 class="text-center">The word "Manifestation" means to create something or turn something from an idea into a reality. Your thoughts, feelings, beliefs and wishes bring something into your life. A simple practice of daily manifestation can bring focus into the present and guide your day in a direction that will help you reach your goals.</h5>
      </div>
</div>


<!-- Main Page Content -->

<div class="flex flex-wrap max-w-screen-md mx-auto items-center">

<!-- Form -->
<div class="w-96">
            <form  action="/workshop/createManifestation" method="POST">
                 <div class="flex flex-col  w-10/12 mx-auto ">

                 <label for="whatToManifest" class="form-label 	text-1xl font-serif">What you want to manifest.</label>
                
                 <textarea type="text" class="form-control bg-gray-300 rounded-lg	mt-2.5 h-52 mb-10	 "  id="whatToManifest" name="whatToManifest"></textarea>

                 <label for="manifestationObstacles" class="form-label 	text-1xl font-serif">
                Obstacles to the manifestation </label>

                 <textarea type="text" class="form-control bg-gray-300 rounded-lg mt-2.5 h-52 mb-10" id="manifestationObstacles" name="manifestationObstacles"></textarea>

                 <label for="manifestationAction" class="form-label text-1xl font-serif">Actions you will take to get there</label>
                 <textarea type="text" class="form-control bg-gray-300 rounded-lg	mt-2.5 h-52 mb-10" id="manifestationAction" name="manifestationAction"></textarea>
                        

                <button type="submit" href= "loc"class="my-6 py-2 px-4 bg-gray-600 text-white font-semibold rounded-lg shadow-md hover:bg-neutral-300	focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" value="Upload" >Log Manifestation</button>
               </form>        
                </div>
</div>
<!-- End Form -->


<!-- Image -->

<div class="w-96">
<img src="https://i.ibb.co/0QQZ66C/Screen-Shot-2022-12-11-at-3-58-09-PM.png" alt="Screen-Shot-2022-12-11-at-3-58-09-PM" border="0">
</div>

<!-- image stop -->

</div>



<!-- Previous  Manifestation -->

        <% for(let i=0; i<manifestation.length; i++) {%>
                  <li>
                  <div class="title text-center  text-center text-xl font-serif text-center my-6	"> 
     <div class="title text-center"> <h4> My Manifestation </h4> </div>
     <div class="title text-center"> <h4><%= manifestation[i].whatToManifest%> </h4> </div>
     <div class="title text-center"> <h4><%= manifestation[i].manifestationObstacles%> </h4> </div>
     <div class="title text-center"> <h4><%= manifestation[i].manifestationAction%> </h4> </div>
                    </div>
                    </li>
        <%} %> 



<%- include('partials/footer') -%>

 